.container-menu-title {
  margin-top: 0px;
}
.container-menu-title > h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 125px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: "Segoe UI";
}

.container-menu-title > hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
