.container-card-small {
  border: #FFFFFF solid 0px;
  width: 500px;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.card-small-news {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.card-small-title {
  font-size: 5px;
}

.card-small-title > h1 > a {
  color: grey;
}

.card-small-description > a > p {
  margin-top: 10px;
  font-size: 12px;
}
