<app-menu-title></app-menu-title>
<div class="container-articles">
  <div class="articles-main">
    <app-card-main
      imageSrc="../../../assets/img/card-main.png"
      titulo="Titulo da Notícia 1"
      descricao="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.">
    </app-card-main>
  </div>
  <div class="articles-other">
    <app-card-small id="1" url="content"
      data="01/01/2023"
      imagem="card-small.png"
      descricao="Lorem Ipsum is simply dummy text of the printing and typesetting industry.">
    </app-card-small>

    <app-card-small id="2" url="content"
      data="01/03/2023"
      imagem="card-small-2.png"
      descricao="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. ">
    </app-card-small>

    <app-card-small id="3" url="content"
      data="01/05/2023"
      imagem="card-small-3.png"
      descricao="It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.">
    </app-card-small>

    <app-card-small id="25" url="pokemon"
      data="22/05/2023"
      imagem="card-small-3.png"
      descricao="Card-Pokemon">
    </app-card-small>
  </div>
</div>


